{% extends "layout.html" %}

{% block title %} Sobre a Faculdade {% endblock %}

{% block body %}
    <h3 class="section-title">Quem Somos</h3>
    <p>
        A Faculdade de Atividades Interativas e Lúdicas é um centro educacional comprometido com a excelência acadêmica e a inovação. Fundada com a visão de proporcionar uma educação de qualidade, nossa instituição se destaca por seu ambiente acolhedor, programas acadêmicos diversificados e compromisso com o sucesso dos alunos.
    </p>
    <h3 class="section-title">Nossa Missão</h3>
    <p>
        Nossa missão é inspirar e preparar os alunos para os desafios do mundo contemporâneo, promovendo a exploração intelectual, a criatividade e o pensamento crítico. Buscamos criar uma comunidade educacional que valorize a diversidade, a inovação e o compromisso com a sociedade.
    </p>
    <h3 class="section-title">Nossos Valores</h3>
    <p>
        Na Faculdade de Atividades Interativas e Lúdicas, cultivamos valores fundamentais, como excelência acadêmica, integridade, respeito e responsabilidade social. Estamos empenhados em oferecer um ambiente onde os estudantes possam florescer não apenas como acadêmicos, mas como cidadãos comprometidos e éticos.
    </p>
    <h3 class="section-title">Nossa Comunidade</h3>
    <p>
        Valorizamos a formação de uma comunidade diversificada e inclusiva. Nossos alunos, professores e funcionários trabalham juntos para criar um ambiente de aprendizagem dinâmico, colaborativo e estimulante. Acreditamos que a troca de ideias e experiências enriquece a jornada educacional.
    </p>
{% endblock %}
